
venv/lib/python3.6/site-packages/schedule-1.0.0.dist-info/AUTHORS.rst

venv/lib/python3.6/site-packages/schedule-1.0.0.dist-info/INSTALLER

venv/lib/python3.6/site-packages/schedule-1.0.0.dist-info/LICENSE.txt

venv/lib/python3.6/site-packages/schedule-1.0.0.dist-info/METADATA

venv/lib/python3.6/site-packages/schedule-1.0.0.dist-info/RECORD
